.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.button {
}
.shape {
}
.image {
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
._流程形状 {
}
.html_button {
  text-align:center;
}
.table_cell {
}
.connector {
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.materialicons {
  font-family:'Material Icons Regular', 'Material Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
.paragraph1 {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.line {
}
.arrow {
}
.heading_11 {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_21 {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.primary_text_dark {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.flat_button {
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.raised_button {
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.shape1 {
}
.vertical_line {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.box_11 {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.box_21 {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
.ellipse1 {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
.image1 {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
.contact_chips {
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
.paragraph2 {
  text-align:left;
}
.heading_12 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_22 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.image2 {
  color:#000000;
}
.horizontal_line {
}
.text_link1 {
  color:#428BCA;
}
.text_link_mouse_over1 {
  color:#2A6496;
}
.table {
}
._text-muted {
  color:#999999;
}
._text-primary {
  color:#428BCA;
}
._text-success {
  color:#3C763D;
}
._text-info {
  color:#31708F;
}
._text-warning {
  color:#8A6D3B;
}
._text-danger {
  color:#A94442;
}
._btn-default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:20px;
}
._btn-default_hover {
  color:#333333;
  text-align:center;
  line-height:20px;
}
._btn-primary {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-primary_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
.label1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
.form_text_field {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
.dropdown-menu {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
.dropdown-menu_hover {
  line-height:26px;
}
._nav-tab_focused_tab {
  color:#555555;
  line-height:20px;
}
._nav-tab_background_tabs {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:center;
  line-height:20px;
}
._nav-tab_tab_hover {
  color:#2A6496;
}
._navbar-default__content_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#555555;
  line-height:20px;
}
._navbar-default__background_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
  line-height:20px;
}
._navbar-default_link_hover {
  color:#2A6496;
}
._breadcrumb_background {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  line-height:20px;
}
._pagination {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  line-height:26px;
}
._pager_btn {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#428BCA;
  line-height:20px;
}
._btn-grp__btn-default__ends_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
._btn-grp__btn-default__center_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
._btn-grp__btn-default_hover {
}
._btn-grp_divider {
}
._dropdown_menuitem {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._dropdown_menuitem_hover {
  color:#252525;
}
._dropdown-menu__dropdown-header {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:17px;
}
._modal-dialogue_header {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:25px;
}
._modal-dialogue_content {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
._modal-backdrop {
}
.tooltip {
  color:#FFFFFF;
}
.tooltip_arrow {
}
._文本段落 {
  font-size:14px;
  text-align:left;
  line-height:20px;
}
.paragraph3 {
  font-size:14px;
  text-align:left;
  line-height:20px;
}
.droplist1 {
  font-size:14px;
  text-align:left;
}
.fontawesome {
}
.materialicons1 {
  font-family:'Material Icons Regular', 'Material Icons';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
.icon {
}
.flow_shape {
}
._形状 {
}
._图片 {
  color:#000000;
}
